# Zusammenbringen der Datensätze simRa und osm_maxspeed

Unser Vorhersage-Modell soll anhand von Features, wie z.B. Straßentyp oder Höchstgeschwindigkeit, Vorhersagen zum Gefahrenpotential einer Strecke machen.   
Dazu müssen wir den SimRa-Datensatz und unsere Features aus OSM vereinen.

In [1]:
import geopandas as gpd


# Lade die GeoJSON-Datei
osm_maxspeed = gpd.read_file("../../data/processed_data/cycle_net_berlin_cleaned_maxspeed.geojson")

In [2]:
simra_data = gpd.read_file("../../data/processed_data/simra_within_berlin.geojson")

In [7]:
# Sicherstellen, dass die Geometriespalten korrekt gesetzt sind
simra_data = simra_data.set_geometry('geometry')
osm_maxspeed = osm_maxspeed.set_geometry('geometry')

#### Überprüfung der Koordinatensysteme beider Datensätze

In [8]:
simra_data.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [9]:
osm_maxspeed.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

#### Verknüpfen der Datensätze mit Join

Verwenden des left Joins:

Behalten aller Einträge aus dem ersten (linken) DataFrame (simra) und hinzufügen passender Einträge aus dem zweiten (rechten) DataFrame (osm_maxspeed), Einträge im linken DataFrame ohne passende Einträge im rechten DataFrame erhalten NaN-Werte für die Spalten aus dem rechten DataFrame.

In [12]:
# Räumliche Verknüpfung zwischen Polygondaten und den OSM/Fahrradnetzwerk/Highway-Daten
simra_maxspeed = gpd.sjoin(simra_data, osm_maxspeed, how='left', predicate='intersects')

In [13]:
simra_maxspeed.head()

,id,type,score,incidents,rides,markers,geometry,index_right,maxspeed_category
0,[79310].0,Street,0.000000,0,57,[ ],"POLYGON ((13.37410 52.53031, 13.37421 52.53020...",170.0,30
0,[79310].0,Street,0.000000,0,57,[ ],"POLYGON ((13.37410 52.53031, 13.37421 52.53020...",33845.0,30
0,[79310].0,Street,0.000000,0,57,[ ],"POLYGON ((13.37410 52.53031, 13.37421 52.53020...",145435.0,30
1,"[196724641, 196725586, 866264912].0",Junction,0.000649,1,1541,"[ [ [ 13.417860660000001, 52.514469009999999 ]...","POLYGON ((13.41751 52.51461, 13.41779 52.51442...",13371.0,30
1,"[196724641, 196725586, 866264912].0",Junction,0.000649,1,1541,"[ [ [ 13.417860660000001, 52.514469009999999 ]...","POLYGON ((13.41751 52.51461, 13.41779 52.51442...",13373.0,30

### Zuordnung mehrerer maxspeed-Typen zu einem Polyglon/Segment 

Gründe für Mehrfachzuordung:  
*(aus osm_highway notebook)*

1. Wenn ein Polygon aus dem simra_data mehrere Straßenabschnitte im osm_surface überlappt oder einschließt, wird jedes dieser überlappenden Segmente in der räumlichen Verknüpfung berücksichtigt, was zur Mehrfachzuordnung führt.
2. OSM-Daten enthalten detaillierte Informationen, bei denen Straßen in einzelne Segmente unterteilt werden können (z.B. bei Kreuzungen, Änderungen der Straßentypen oder Fahrspuren). Daher kann ein einzelnes Polygon mehrere dieser Segmente einschließen.Räumliche Beziehungen:
3. Die räumliche Verknüpfung (predicate='intersects') berücksichtigt alle Geometrien, die im rechten DataFrame das Polygon im linken DataFrame schneiden. Das bedeutet, dass mehrere Straßenabschnitte demselben Polygon zugeordnet werden können, wenn sie sich schneiden bzw. überlappen.

### Überprüfen der NaN Werte

die Prüfung ergibt eine Übereinstimmung mit den Daten bezüglich der highways (siehe notebook [osm_highway](osm_highway.ipynb))

In [14]:
# Zeilen, die NaN in 'maxspeed' (bzw. in 'index_right') enthalten
nan_values = simra_maxspeed[simra_maxspeed['maxspeed_category'].isna()]

print(f"Anzahl der Zeilen mit NaN in 'maxspeed_category': {len(nan_values)}")

Anzahl der Zeilen mit NaN in 'maxspeed_category': 376

In [15]:
nan_values_score = simra_maxspeed[(simra_maxspeed['maxspeed_category'].isna()) & (simra_maxspeed['score'] != 0)]

In [16]:
nan_values_score.count()

id                   63
type                 63
score                63
incidents            63
rides                63
markers              63
geometry             63
index_right           0
maxspeed_category     0
dtype: int64

### Entfernen der NaN-Werte

Nähere Begründung siehe [osm_highway](osm_highway.ipynb)  

Bereinigung der Daten  
Um sicherzustellen, dass nur relevante Verknüpfungen in unserer Analyse betrachtet werden, entfernen wir Zeilen mit NaN-Werten in der indexright-Spalte. Das bedeutet, dass nur Zeilen mit gefundenen räumlichen Übereinstimmungen beibehalten werden.

In [19]:
cleaned_simra_maxspeed = simra_maxspeed.dropna(subset=['maxspeed_category'])

print(f"Anzahl der verbleibenden Zeilen nach dem Entfernen der NaN-Werte: {len(cleaned_simra_maxspeed)}")

Anzahl der verbleibenden Zeilen nach dem Entfernen der NaN-Werte: 85801

In [20]:
# Sicherstellen, dass keine NaN-Werte mehr in der Spalte 'index_right' vorhanden sind
nan_values_after_cleaning = cleaned_simra_maxspeed[cleaned_simra_maxspeed['index_right'].isna()]

print(f"Anzahl der NaN-Werte nach der Bereinigung: {len(nan_values_after_cleaning)}")

Anzahl der NaN-Werte nach der Bereinigung: 0

In [21]:
cleaned_simra_maxspeed.shape

(85801, 9)

In [22]:
cleaned_simra_maxspeed.head()

,id,type,score,incidents,rides,markers,geometry,index_right,maxspeed_category
0,[79310].0,Street,0.000000,0,57,[ ],"POLYGON ((13.37410 52.53031, 13.37421 52.53020...",170.0,30
0,[79310].0,Street,0.000000,0,57,[ ],"POLYGON ((13.37410 52.53031, 13.37421 52.53020...",33845.0,30
0,[79310].0,Street,0.000000,0,57,[ ],"POLYGON ((13.37410 52.53031, 13.37421 52.53020...",145435.0,30
1,"[196724641, 196725586, 866264912].0",Junction,0.000649,1,1541,"[ [ [ 13.417860660000001, 52.514469009999999 ]...","POLYGON ((13.41751 52.51461, 13.41779 52.51442...",13371.0,30
1,"[196724641, 196725586, 866264912].0",Junction,0.000649,1,1541,"[ [ [ 13.417860660000001, 52.514469009999999 ]...","POLYGON ((13.41751 52.51461, 13.41779 52.51442...",13373.0,30

### Gruppieren der Polyglone und Zusammenfassen der maxspeed-Werte


* Der DataFrame wird nach id und geometry gruppiert. Für jede Gruppe werden die angegebenen Aggregationsfunktionen auf die Spalten angewendet:
  * Für type, score, incidents, rides, markers, und index_right wird der erste Wert in der Gruppe verwendet ('first').
  * Für die maxspeed_category-Spalte wird eine Funktion zum Kombinieren der Werte angwendet.
* Das Ergebnis ist ein DataFrame grouped_data, bei dem die maxspeed-Werte pro Gruppe als zusammenhängender String dargestellt sind, während alle anderen spezifischen Werte beibehalten werden.

In [50]:
cleaned_simra_maxspeed = gpd.GeoDataFrame(cleaned_simra_maxspeed, geometry='geometry')

In [51]:
# Funktion zum Kombinieren der 'maxspeed'-Werte 
def combine_maxspeeds(x):
    return ', '.join(x)  # Doppelte Einträge bleiben erhalten und werden verbunden

# Gruppieren nach 'id' und 'geometry' und Aggregation
grouped_data = cleaned_simra_maxspeed.groupby(['id', 'geometry']).agg({
    'type': 'first',       # Erster Wert (da alle Werte gleich)
    'score': 'first',      
    'incidents': 'first',  
    'rides': 'first',      
    'markers': 'first',    
    'index_right': 'first',
    'maxspeed_category': combine_maxspeeds  # Kombinieren der 'highway' Werte
}).reset_index()

In [52]:
# Umwandlung zurück in ein GeoDataFrame
grouped_data = gpd.GeoDataFrame(grouped_data, geometry='geometry', crs=cleaned_simra_maxspeed.crs)

In [53]:
grouped_data.head(3)

,id,geometry,type,score,incidents,rides,markers,index_right,maxspeed_category
0,[100049].0,"POLYGON ((13.45412 52.54035, 13.45320 52.53977...",Street,0.0,0,138,[ ],57832.0,"50, 50, 20, 50"
1,[100069498].0,"POLYGON ((13.52273 52.50704, 13.52248 52.50690...",Junction,0.0,0,200,[ ],123443.0,"30, 30, 30"
2,"[100078509, 288268004, 3888645535].0","POLYGON ((13.47754 52.51457, 13.47782 52.51438...",Junction,0.0,0,54,[ ],75145.0,"50, 50, 20, 50, 50, 50, 20, 20, 50, 20, 20, 50..."

In [54]:
grouped_data.shape

(15918, 9)

### Umgang mit mehreren maxspeed-Werten in einem Polygon
-------

Wir haben entschieden, jeweils den höchsten maxspeed-Wert der Spalte zu verwenden und die anderen nicht zu betrachten.  

Wir gehen folgender maßen vor:
1. maxspeed-Werte in einer neune Spalte als Liste ausgeben
2. höchsten maxspeed-Wert ermitteln und alle anderen udn auch Duplikate löschen

In [55]:
# Funktion zum Zerlegen der 'maxspeed_category'-Spalte in Listen
grouped_data['maxspeed_list'] = grouped_data['maxspeed_category'].apply(lambda x: x.split(', '))

In [56]:
grouped_data.head(3)

,id,geometry,type,score,incidents,rides,markers,index_right,maxspeed_category,maxspeed_list
0,[100049].0,"POLYGON ((13.45412 52.54035, 13.45320 52.53977...",Street,0.0,0,138,[ ],57832.0,"50, 50, 20, 50","[50, 50, 20, 50]"
1,[100069498].0,"POLYGON ((13.52273 52.50704, 13.52248 52.50690...",Junction,0.0,0,200,[ ],123443.0,"30, 30, 30","[30, 30, 30]"
2,"[100078509, 288268004, 3888645535].0","POLYGON ((13.47754 52.51457, 13.47782 52.51438...",Junction,0.0,0,54,[ ],75145.0,"50, 50, 20, 50, 50, 50, 20, 20, 50, 20, 20, 50...","[50, 50, 20, 50, 50, 50, 20, 20, 50, 20, 20, 5..."

In [57]:
# Funktion zum Ermitteln des höchsten Wertes 
def get_highest_value(value_list):
    # Konvertieren Sie die Liste in eine Menge, um Duplikate zu entfernen
    value_set = set(value_list)
    # Konvertieren Sie die Menge zurück in eine Liste und finden Sie den maximalen Wert
    max_value = max(value_set)
    # Rückgabe des höchsten Wertes in der Liste
    return max_value

# Anwenden der Funktion auf die maxspeed_category-Spalte
grouped_data['maxspeed_list'] = grouped_data['maxspeed_list'].apply(get_highest_value)

In [58]:
grouped_data.head(3)

,id,geometry,type,score,incidents,rides,markers,index_right,maxspeed_category,maxspeed_list
0,[100049].0,"POLYGON ((13.45412 52.54035, 13.45320 52.53977...",Street,0.0,0,138,[ ],57832.0,"50, 50, 20, 50",50
1,[100069498].0,"POLYGON ((13.52273 52.50704, 13.52248 52.50690...",Junction,0.0,0,200,[ ],123443.0,"30, 30, 30",30
2,"[100078509, 288268004, 3888645535].0","POLYGON ((13.47754 52.51457, 13.47782 52.51438...",Junction,0.0,0,54,[ ],75145.0,"50, 50, 20, 50, 50, 50, 20, 20, 50, 20, 20, 50...",50

### Entfernen nicht notwendiger Spalten

In [60]:
# Entfernen von Spalten
grouped_data.drop(columns=['maxspeed_category', 'markers'], inplace=True)

In [62]:
#Umbenennen der Spalte
grouped_data = grouped_data.rename(columns={'maxspeed_list': 'maxspeed'})

In [64]:
grouped_data.head(10)

,id,geometry,type,score,incidents,rides,index_right,maxspeed
0,[100049].0,"POLYGON ((13.45412 52.54035, 13.45320 52.53977...",Street,0.000000,0,138,57832.0,50
1,[100069498].0,"POLYGON ((13.52273 52.50704, 13.52248 52.50690...",Junction,0.000000,0,200,123443.0,30
2,"[100078509, 288268004, 3888645535].0","POLYGON ((13.47754 52.51457, 13.47782 52.51438...",Junction,0.000000,0,54,75145.0,50
3,[100094].0,"POLYGON ((13.46855 52.61490, 13.46841 52.61475...",Street,0.000000,0,98,6529.0,30
4,[1000].0,"POLYGON ((13.35533 52.51693, 13.35655 52.51683...",Street,0.000000,0,130,156528.0,50
5,[100120].0,"POLYGON ((13.50803 52.45148, 13.50766 52.45048...",Street,0.000000,0,54,46806.0,50
6,[100126].0,"POLYGON ((13.50823 52.45280, 13.50841 52.45267...",Street,0.000000,0,169,46808.0,50
7,[100129].0,"POLYGON ((13.50832 52.45291, 13.50806 52.45301...",Street,0.000000,0,102,46808.0,50
8,[100144].0,"POLYGON ((13.40858 52.51198, 13.40761 52.51167...",Street,0.001818,1,550,46823.0,30
9,[100154846].0,"POLYGON ((13.51004 52.45376, 13.50972 52.45359...",Junction,0.000000,0,414,37257.0,50

In [66]:
 #Speichern des gdf

output_filename = "../../data/processed_data/osm_maxspeed_max.geojson"
grouped_data.to_file(output_filename, driver='GeoJSON')

print(f"Datei erfolgreich gespeichert.")

Datei erfolgreich gespeichert.